@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}



@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-bg: #fff6ed;
  --color-secondary: #5e2779;
  --color-accent-green: #70bd74;
  --color-accent-pink: #ffcfff;
  --color-accent-turquoise: #7ad8c0;
  --color-accent-yellow: #ffe7ba;
  --color-accent-salmon: #ffc7b7;
  --color-accent-dustgreen: #d9eada;
  --color-accent-coral: #ec5e55;
  --color-accent-blue: #c9eefc;
  --color-hover: #AC54D9;

  /*Typografi */
  --font-display: "Chewy", sans-serif;
  --font-serif: "Merriweather Sans", serif;

  
}



@layer base {
}

@layer components {
}

@layer utilities {
}

/* Small helper utilities so we can use classes like `font-display` in components */
@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
  .font-serif {
    font-family: var(--font-serif);
  }
}
