---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---
<MainLayout title="Titel">
<!-- start på hero -->
 <section class="grid grid-cols-12 grid-rows-1">
  <!-- talebobbel -->
  <img src="/tale_bobbel.svg" class="col-start-1 col-end-8 row-start-1 mt-10 md:col-start-3 md:col-end-8 md:mt-10 z-0"/>

  <!-- figur -->
  <img src="/hero_listogsingle.svg" class="col-start-7 col-end-12 row-start-1 mt-10 md:col-start-7 md:col-end-10 md:mt-20 z-0"/>

  <!-- TEKST, som skal ovenpå boblen -->
  <Heading htmlheading="h3" font="display" size="small" stylingclasses="text-secondary col-start-2 col-end-7 mr-3 md:col-start-4 row-start-1 mt-24 md:mt-45 z-20">Hej Fiona! Hyggeligt<br>du er tilbage!</Heading>
</section>
<!-- slut på hero -->

<!-- start på "fortsæt med" -->
<section class="container mx-auto px-4 md:px-0">
  <Heading htmlheading="h2" font="display" size="medium" stylingclasses="text-secondary py-4">
    Fortsæt med at se
  </Heading>
  <!-- Scroll-container -->
  <div class="flex gap-10 overflow-x-auto bg-accent-yellow rounded-xl p-6 md:p-10">
    <!-- Wrapper til kortene, så de har fast bredde -->
    <div class="flex gap-6 w-max">
      <Card 
        cardimage="/vanten.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Vanten"
        cardcategory1="Musik"
        cardcategory2="film"
        cardtime="8 min"
        variant="musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/ritaogkrokodille.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Rita og Krokodille"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="5 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/lillefinger_denskaevekasse.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Lillefinger - Den.."
        cardcategory1="Fakta"
        cardcategory2="Film"
        cardtime="20 min"
        variant="Fakta"
        iconimg1="/fakta.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/slubre.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Slubre"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="4 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/soemanden.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Sømanden"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="6 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/dennyesommerfulg.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Den nye..."
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="6 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
    </div>
  </div>
</section>
<!-- slut på fortsæt med -->

<!-- start på "fordi du så vitello" -->
 <section class="container mx-auto mt-20 px-4 md:px-0">
  <Heading htmlheading="h2" font="display" size="medium" stylingclasses="text-secondary py-4">
   Fordi du så Vitello
  </Heading>
  <!-- Scroll-container -->
  <div class="flex gap-10 overflow-x-auto bg-accent-dustgreen rounded-xl p-6 md:p-10">
    <!-- Wrapper til kortene, så de har fast bredde -->
    <div class="flex gap-6 w-max">
      <Card 
        cardimage="/vanten.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Vanten"
        cardcategory1="Musik"
        cardcategory2="film"
        cardtime="8 min"
        variant="musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/ritaogkrokodille.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Rita og Krokodille"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="5 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/lillefinger_denskaevekasse.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Lillefinger - Den.."
        cardcategory1="Fakta"
        cardcategory2="Film"
        cardtime="20 min"
        variant="Fakta"
        iconimg1="/fakta.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/slubre.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Slubre"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="4 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/soemanden.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Sømanden"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="6 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/dennyesommerfulg.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Den nye..."
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="6 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
    </div>
  </div>
</section>
<!-- slut på "fordi du så vitello" -->

<!-- start på bokse med karakterer -->
 <section class="container mt-20 mx-auto">
      <Heading htmlheading="h2" font="display" size="medium" stylingclasses="text-secondary py-4 px-4 md:px-0">
         Karakterer
            </Heading>
            <div class="grid grid-cols-12 grid-rows-2 gap-6 px-4 md:px-0">
            <div class="bg-accent-pink col-start-1 col-span-6 md:col-span-4 rounded-xl flex flex-col gap-2 row-start-2 row-span-2 md:row-start-1 md:row-span-2 py-20">
                    <Heading htmlheading="h3" font="display" size="small" stylingclasses="text-secondary text-start ml-4 md:ml-10">
            Vitello
             </Heading>
            <img src="/vitello1.webp" alt="vitello" class="w-full h-auto object-contain"/>
            <img src="/vitello2.webp" alt="vitello" class="w-full h-auto object-contain"/>            
            </div>
            
            <div class="bg-accent-dustgreen col-start-1 col-span-12 md:col-start-5 md:col-span-8 rounded-xl row-start-1 row-span-1 pt-7">
            <Heading htmlheading="h3" font="display" size="small" stylingclasses="text-secondary text-start ml-4 md:ml-10">
            Lillefinger
             </Heading>
            <img src="/lillefinger.webp" alt="lillefinger" class="w-full h-100 object-contain"/>
            </div>
            <div class="bg-accent-coral col-start-7 col-span-6 md:col-start-5 md:col-span-4 rounded-xl row-start-2 row-span-1 pt-5">
                <Heading htmlheading="h3" font="display" size="small" stylingclasses="text-secondary text-start ml-4 md:ml-10">
            Cirkeline
             </Heading>
                <img src="/cirkeline.webp" alt="cirkeline" class="w-full h-80 object-contain"/>
            </div>
            <div class="bg-accent-yellow col-start-7 col-span-6 md:col-start-9 md:col-span-4 rounded-xl row-start-3 md:row-start-2 md:row-span-1 pt-5">
                <Heading htmlheading="h3" font="display" size="small" stylingclasses="text-secondary text-start ml-4 md:ml-10">
            Pipungerne
             </Heading>
                <img src="/pipungerne.webp" alt="pipungerne" class="w-full h-80 object-contain"/>
            </div>
     </div>

</section>
<!-- slut på bokse med karakterer -->

<!-- start på "andre ser også" -->
 <section class="container mx-auto mt-20 px-4 md:px-0">
  <Heading htmlheading="h2" font="display" size="medium" stylingclasses="text-secondary py-4">
Andre ser også
  </Heading>
  <!-- Scroll-container -->
  <div class="flex gap-10 overflow-x-auto bg-accent-dustgreen rounded-xl p-6 md:p-10">
    <!-- Wrapper til kortene, så de har fast bredde -->
    <div class="flex gap-6 w-max">
      <Card 
        cardimage="/vanten.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Vanten"
        cardcategory1="Musik"
        cardcategory2="film"
        cardtime="8 min"
        variant="musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/ritaogkrokodille.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Rita og Krokodille"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="5 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/lillefinger_denskaevekasse.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Lillefinger - Den.."
        cardcategory1="Fakta"
        cardcategory2="Film"
        cardtime="20 min"
        variant="Fakta"
        iconimg1="/fakta.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/slubre.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Slubre"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="4 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/soemanden.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Sømanden"
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="6 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
      <Card 
        cardimage="/dennyesommerfulg.webp"
        cardimagealt="Thumbs up image"
        cardtitle="Den nye..."
        cardcategory1="Musik"
        cardcategory2="Film"
        cardtime="6 min"
        variant="Musik"
        iconimg1="/musik.svg"
        iconimg2="/film.svg"
        class="flex-shrink-0 w-64"
      />
    </div>
  </div>
</section>
<!-- slut på "andre ser også" -->
</MainLayout>