---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Headerlistsingle from "../components/Headerlistsingle.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Lillefinger - Den skæve kasse">
	

        <Headerlistsingle />    

		<!-- Pil  -->
 <a 
  href="/listeview" 
  class="flex items-center justify-center w-12 h-12 ml-4 mt-6 md:mt-12 lg:ml-8 lg:mt-24"
>
  <img src="/arrow.svg" alt="Tilbage" class="w-10 h-10" />
</a>

<!-- Pil slut -->
   

  <!-- VIDEO-section start -->
<section 
  class="w-full min-h-screen grid grid-cols-12 pt-12 bg-[url('/mobilskyer.svg')] md:bg-[url('/mobilskyer.svg')] lg:bg-[url('/samledeskyer.svg')] bg-cover bg-center bg-no-repeat lg:h-300 intersect:animate-fade-left animate-duration-1000"
>
  <!-- Video wrapper -->
<div class="col-span-12 md:col-span-12 lg:col-span-10 lg:col-start-2 relative w-full px-4 md:px-4 lg:px-0">
  
	<!-- Video -->
  <div class="w-full aspect-video overflow-hidden rounded-xl">
    <video src="/video.webm" controls class="w-full h-full object-cover rounded-xl"></video>
  </div>

  <!-- Figur ovenpå video -->
  <img src="/figur_single_video.svg" alt="Dekorativ figur"
       class="absolute w-32 h-32 -top-24 right-16 -z-20 md:w-32 md:h-32 lg:w-60 lg:h-60 lg:-top-45 lg:right-56 lg:-z-20"/>

 <img src="/figur_single_arme.svg" alt="Dekorativ figur"
       class="absolute w-24 h-24 -top-12 right-20 md:w-32 md:h-32 lg:w-60 lg:h-60 lg:-top-28 lg:right-54"/>

</div>


<!-- Tekst ovenpå sky -->
<div class="col-span-12 md:col-span-12 lg:col-span-6 lg:col-start-2 flex flex-col items-start text-left px-4 md:px-4 lg:px-0 
            -mt-12 md:-mt-16 lg:-mt-24 intersect:animate-fade-right animate-duration-1000">

			<!-- Heading -->
    <Heading htmlheading="h2" font="display" size="small" stylingclasses="text-secondary mb-4">
      Lillefinger - Den skæve kasse
    </Heading>


<!-- Kategorier -->
<div class="flex w-full items-center mb-4 flex-wrap">
 
  <div class="flex gap-2 flex-wrap">
    <div class="bg-accent-pink rounded-full w-8 h-8 flex items-center justify-center hover:scale-110 cursor-pointer">
      <img src="/popcorn.svg" alt="Serier" class="w-4 h-4" />
    </div>
    <div class="bg-accent-coral rounded-full w-8 h-8 flex items-center justify-center hover:scale-110 cursor-pointer">
      <img src="/dyr.svg" alt="Dyr" class="w-4 h-4" />
    </div>
  </div>

  <!-- Tid og gem -->
  <div class="flex gap-2 items-center flex-wrap ml-12 lg:ml-40">
    <Heading 
      htmlheading="h4" 
      size="xsmall" 
      font="display" 
      stylingclasses="flex items-center gap-1 text-secondary"
    >
      11 min 
      <img src="/ur.svg" alt="Clock icon" class="inline w-6 h-6"/>
    </Heading>

    <Button 
      variant="like" 
      size="small" 
      icon="/emptyheart.svg" 
      iconHover="/filledheart.svg"
    >
      Gem
    </Button>
  </div>
</div>

  
    <!-- Brødtekst -->
    <Text teksttype="brødtekst" stylingclasses="max-w-xl opacity-90">
		Lillefinger tager dig med på en finurlig rejse i 
	</Text>
	<Text teksttype="brødtekst" stylingclasses="max-w-xl opacity-90">
	'Den skæve kasse' - fyldt med sjov, 
	</Text>
	<Text teksttype="brødtekst" stylingclasses="max-w-xl opacity-90">		
	overraskelser og kreativitet.
    </Text>

  </div>

</section>
<!-- VIDEO-section slut -->



<!-- Lillefinger-section / Mere fra-section start -->

<section class="mx-auto max-w-7xl px-4 md:px-0 lg:mt-60">

<div class="relative col-span-12 md:col-span-12 lg:col-span-12">
  <img 
    src="/lillefinger.webp" alt="Lillefinger" class="absolute -top-18 right-4 w-60 h-40 md:top-20 md:right-8 lg:-top-41 lg:right-16 z-0 lg:w-110 lg:h-70"
  />
</div>

<Heading htmlheading="h2" font="display" size="small" stylingclasses="text-secondary py-4 intersect:animate-fade-left animate-duration-1000">
    Mere fra Lillefinger
  </Heading>


  <!-- Baggrund der omslutter begge scrollområder -->
  <div class="bg-accent-blue rounded-xl p-10 space-y-10 overflow-x-auto scrollbar-hide intersect:animate-fade-right animate-duration-1000">

    <!-- Række 1 -->
    <div class="flex gap-10 w-full">
      <div class="flex gap-6 w-max">
	
	<Card 
	cardimage="/lillefinger_denskaevekasse.webp"
	cardimagealt="Lillefinger: Den skæve kasse"
	cardtitle="Den skæve kasse"
	cardtime="4"
	badgemusik="true"
	badgefakta="true"
	></Card>

	
<Card 
	cardimage="/lillefinger_detfrosnedyr.webp"
	cardimagealt="Lillefinger: Det frosne dyr"
	cardtitle="Det frosne dyr"
	cardtime="4"
	badgeserier="true"
	badgefilm="true"
	></Card>

    
<Card 
	cardimage="/lillefinger_foeds.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Fødselsdag"
	cardtime="4"
	badgeserier="true"
	badgefilm="true"
	></Card>

	<Card 
	cardimage="/lillefinger_denskaevekasse.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Den skæve kasse"
	cardtime="4"
	badgeserier="true"
	badgefilm="true"
	></Card>

     <Card 
	cardimage="/lillefinger_detfrosnedyr.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Det frosne dyr"
	cardtime="4"
	badgefakta="true"
	badgefilm="true"
	></Card>
  
    <Card 
	cardimage="/lillefinger_foeds.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Fødselsdag"
	cardtime="4"
	badgefakta="true"
	badgefilm="true"
	></Card>
      </div>
    </div>

    <!-- Række 2 -->
    <div class="flex gap-10 w-full">
      <div class="flex gap-6 w-max">

		  <Card 
	cardimage="/lillefinger_gemmeleg.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Gemmeleg"
	cardtime="4"
	badgemusik="true"
	badgefilm="true"
	></Card>

	 <Card 
	cardimage="/lillefinger_lilesky.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Lillesky"
	cardtime="4"
	badgeserier="true"
	badgefakta="true"
	></Card>
       
 <Card 
	cardimage="/lillefinger_sommertrolddom.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Sommertrolddom"
	cardtime="4"
	badgemusik="true"
	badgefilm="true"
	></Card>


	 <Card 
	cardimage="/lillefinger_gemmeleg.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Gemmeleg"
	cardtime="4"
	badgemusik="true"
	badgefilm="true"
	></Card>

		
 <Card 
	cardimage="/lillefinger_lilesky.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Lillesky"
	cardtime="4"
	badgefakta="true"
	badgeserier="true"
	></Card>

 <Card 
	cardimage="/lillefinger_sommertrolddom.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Sommertrolddom"
	cardtime="4"
	badgemusik="true"
	badgefilm="true"
	></Card>
      </div>
    </div>

  </div>
</section>

<!-- slut på lillefinger / mere fra-section -->

<!-- start på "andre ser også" -->
 <section class="mx-auto max-w-7xl mt-20 px-4 md:px-0">
  <Heading htmlheading="h2" font="display" size="small" stylingclasses="text-secondary py-4 intersect:animate-fade-up animate-duration-1000">
	Andre ser også
  </Heading>
  <!-- Scroll-container -->
  <div class="flex gap-10 overflow-x-auto scrollbar-hide bg-accent-dustgreen rounded-xl p-10 intersect:animate-fade-down animate-duration-1000">

    <!-- Wrapper til kortene, så de har fast bredde -->
    <div class="flex gap-6 w-max">

<Card 
	cardimage="/lillefroe.webp"
	cardimagealt="Lillefrø"
	cardtitle="Lille frø"
	cardtime="8"
	badgefilm="true"
	badgeserier="true"
	></Card>

    <Card 
	cardimage="/ballerina.webp"
	cardimagealt="Ballerina"
	cardtitle="Ballerina"
	cardtime="11"
	badgemusik="true"
	badgeserier="true"
	></Card>

    
<Card 
	cardimage="/desmaavilde.webp"
	cardimagealt="De små vilde"
	cardtitle="De små vilde"
	cardtime="4"
	badgefilm="true"
	badgeserier="true"
	></Card>

<Card 
	cardimage="/harenogskildpadden.webp"
	cardimagealt="Harren og Skildpadden"
	cardtitle="Harren og Skildpadden"
	cardtime="3"
	badgefakta="true"
	badgemusik="true"
	></Card>

    <Card 
	cardimage="/lillefinger_hindbaerret.webp"
	cardimagealt="Lillefinger"
	cardtitle="Lillefinger: Hindbærret"
	cardtime="10"
	badgefakta="true"
	badgefilm="true"
	></Card> 

    <Card 
	cardimage="/edderskoenne_edderkopper.webp"
	cardimagealt="Edderkopper"
	cardtitle="Edderskønne edderkopper"
	cardtime="6"
	badgemusik="true"
	badgeserier="true"
	></Card>

    </div>
  </div>
</section>
<!-- slut på "andre ser også" -->


	<!-- Pil  -->
  <a href="/listeview" class="mt-10 lg:mt-20 ml-8 md:ml-12 lg:pb-20 flex flex-row items-center gap-4 w-auto h-12">
  <img src="/arrow.svg" alt="Tilbage" class="w-10 h-10" />
  <Text teksttype="brødtekst">Vil du hellere se noget andet?</Text>
</a>

<!-- Slut på pil -->

</MainLayout>