---
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";
import Text from "../components/Text.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  x-data="{ showmenu: false }"
  class=" top-0 left-0 w-full z-50 bg-[url('/header_listogsingle.svg')] bg-cover bg-[center_100%] pb-24"
>
<div class="hidden lg:flex flex-row justify-between px-5">
				<div>
					<a href="/"><img src="/logo.svg" alt="Logo" class="scale-80 p-4 lg:scale-100"></a>
				</div>	
				<div class="flex flex-row gap-6 mx-6 my-6">
				<Text><Link href="#" variant="primary" size="medium">Forside</Link></Text>
      <Text><Link href="allefilm" variant="primary" size="medium">Alle film</Link></Text>
      <Text><Link href="/test" variant="primary" size="medium" icon="/search.svg" iconHover="/searchhover.svg">Søg</Link></Text>
      <Text><Link href="/test" variant="primary" size="medium" icon="/purpleheart.svg" iconHover="/purpleheart_hover.svg">Mine lister</Link></Text>
      <Text><Link href="listeview" variant="primary" size="medium">Min profil</Link></Text>
				</div>
			</div>


<header x-data="{ showmenu: false }" class="relative">
  <!-- Burger menu til mobil -->
  <div class="lg:hidden flex items-center justify-between p-4">
    <a href="/">
      <img src="/logo.svg" alt="Logo" class="h-12">
    </a>

    <button class="cursor-pointer text-secondary" x-on:click="showmenu = !showmenu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
           stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" 
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>

  <!-- Mobil menu dropdown -->
  <nav x-show="showmenu" x-transition x-on:click.outside="showmenu = false" 
       class="lg:hidden bg-bg w-full absolute top-full left-0 shadow-md backdrop-blur-sm z-10">
    <ul class="flex flex-col gap-4 p-4">
      <Text><Link href="/" variant="primary" size="medium">Forside</Link></Text>
      <Text><Link href="allefilm" variant="primary" size="medium">Alle film</Link></Text>
      <Text><Link href="/test" variant="primary" size="medium" icon="/search.svg" iconHover="/searchhover.svg">Søg</Link></Text>
      <Text><Link href="/test" variant="primary" size="medium" icon="/purpleheart.svg" iconHover="/purpleheart_hover.svg">Mine lister</Link></Text>
      <Text><Link href="listeview" variant="primary" size="medium">Min profil</Link></Text>
    </ul>
  </nav>
</header>
